body{
    background-color:hsl(213, 19%, 18%);
    color: white;
    width: 40vw;
    height: 50vh;

    position: absolute;
    left: 30%;
    top: 20%;
}

html{
    background-color: black;
}

#submitedPage{
    display: none;
}